@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.channel-customize {
  background-color: #282828;
  height: max-content;
}

.channel-customize-section {
  position: absolute;
  left: 270px;
  top: 100px;
  color: white;
  width: -webkit-fill-available;
}

.customize-header,
.left-redirects {
  padding-left: 40px;
}

.customize-header > p {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.redirectss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.left-redirects,
.right-redirects {
  display: flex;
  align-items: center;
}

.left-redirects > p {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #aaa;
}

.right-redirects {
  position: relative;
  right: 30px;
}

.right-redirects > p {
  color: #3ea6ff;
  font-size: 15px;
  margin-right: 25px;
}

.save-customize {
  cursor: pointer;
  background-color: #3ea6ff;
  color: #282828;
  border: none;
  outline: none;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 15px;
  transition: all 0.13s ease;
}

.save-customize:active {
  transform: scale(0.92);
}

.breakk {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.333);
}

.branding-txt1,
.basic-txt1 {
  color: #3eaffe !important;
}

.branding-txt1::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 36px;
  height: 4px;
  width: 72px;
  background-color: #3eaffe;
  border-radius: 50px;
  transform: scaleX(1);
  transition: all 0.2s linear;
}

.basic-txt1::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 137px;
  height: 4px;
  width: 72px;
  background-color: #3eaffe;
  border-radius: 50px;
  transform: scaleX(1);
  transition: all 0.2s linear;
}

.customize-data-section {
  position: absolute;
}

.profile-update-section {
  position: relative;
  padding-left: 40px;
  top: 30px;
}

.cover-update-section {
  position: relative;
  padding-left: 40px;
  top: 70px;
}

.pic-div {
  width: fit-content;
  background-color: #1f1f1f;
  width: 290px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel-image {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  object-fit: cover;
}

.banner-image {
  width: inherit;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.profile-head-txt,
.cover-head {
  font-size: 15px;
}

.profile-desc-txt,
.banner-desc,
.basic-name-desc,
.basic-channelurl-desc,
.basic-link-desc {
  font-size: 13px;
  margin-top: 8px;
  color: #aaa;
}
.pic-extra-content,
.banner-desc {
  font-size: 13px;
  color: #aaa;
}

.picture-section,
.banner-section {
  display: flex;
  margin-top: 20px;
}

.pic-extra-content {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: 25px;
  line-height: 21px;
}

.change-image {
  cursor: pointer;
  width: fit-content;
  color: #3eaffe;
  font-size: 15px;
  margin-top: 12px;
}

.basic-info-section {
  position: relative;
  padding-left: 40px;
  top: 30px;
}

.basic-name-head,
.basic-desc-head,
.basic-channelurl-head,
.basic-link-head {
  font-size: 15px;
}

.channel-name-inp {
  width: -webkit-fill-available;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 15px;
  outline: none;
  border: 1px solid #aaaaaa89;
  height: 40px;
  border-radius: 3px;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.channel-link-inp {
  width: 430px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: 1px solid #aaaaaa89;
  height: 30px;
  border-radius: 3px;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  margin-left: 15px;
}

.channel-name-inp2 {
  width: -webkit-fill-available;
  background-color: #1f1f1f;
  margin-top: 15px;
  outline: none;
  border: 1px solid #aaaaaa89;
  height: 40px;
  border-radius: 3px;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.channel-name-inp:focus,
.basic-channel-desc:focus,
.channel-link-inp:focus {
  outline: 1px solid #3ea6ff;
}

.basic-description-section {
  position: relative;
  top: 35px;
}

.basic-channel-desc {
  width: -webkit-fill-available;
  height: max-content;
  resize: none;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 15px;
  outline: none;
  border: 1px solid #aaaaaa89;
  border-radius: 3px;
  color: white;
  padding: 15px;
  font-size: 15px;
}

.basic-channelurl-section {
  position: relative;
  top: 70px;
}

.coppy-id {
  cursor: pointer;
  position: absolute;
  top: 65px;
  right: 14px;
  padding: 5px;
  border-radius: 10%;
  transition: all 0.12s ease;
}

.coppy-id:hover {
  background-color: rgba(255, 255, 255, 0.119);
}

.coppy-id:active {
  transform: scale(0.88);
}

.basic-links-section {
  position: relative;
  top: 110px;
}

.links-areaa {
  margin-top: 25px;
  padding-bottom: 50px;
}

.fblink-data {
  display: flex;
  align-items: center;
}

.insta-data,
.twitter-data,
.web-data {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.delete-link {
  cursor: pointer;
  opacity: 0;
  margin-left: 10px;
}

.fblink-data:hover .delete-link {
  opacity: 1;
}

.insta-data:hover .delete-link {
  opacity: 1;
}

.twitter-data:hover .delete-link {
  opacity: 1;
}

.web-data:hover .delete-link {
  opacity: 1;
}

.addnew-link {
  cursor: pointer;
  color: #3ea6ff;
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 15px;
}

.addnew-link > p {
  margin-left: 6px;
}

.social-icons-links2 {
  background-color: #50505081;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  width: fit-content;
  position: relative;
  top: 18px;
}

.disable-btn {
  background-color: #aaa;
  opacity: 0.7;
  cursor: not-allowed;
}

.spin3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 6;
  width: 78vw;
  height: 100vh;
  margin-top: 200px;
}

.spin3 > p {
  margin-top: 15px;
}
