@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.current-tophead {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 700;
}

.main-video-details-section {
  position: absolute;
  top: 96px;
  left: 300px;
  width: 62%;
}

.currentvideo-title {
  margin-top: 25px;
}
.currentvideo-desc {
  margin-top: 40px;
}

.currentvideo-title-inp {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #aaaaaa6b;
  outline: none;
  padding: 8px;
  width: -webkit-fill-available;
  border-radius: 3px;
  height: 70px;
  font-size: 15px;
  color: white;
  padding-left: 15px;
}

.currentvideo-desc-inp {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #aaaaaa6b;
  outline: none;
  padding: 8px;
  width: -webkit-fill-available;
  border-radius: 3px;
  height: 190px;
  font-size: 15px;
  color: white;
  padding-top: 35px;
  padding-left: 15px;
  resize: none;
}

.currentvideo-desc-inp:hover,
.currentvideo-title-inp:hover {
  border: 1px solid #aaa;
}

.title-sample-txt {
  color: #aaaaaa9d;
  font-size: 13px;
  position: absolute;
  left: 16px;
  top: 74px;
}

.desc-sample-txt {
  color: #aaaaaa9d;
  font-size: 13px;
  position: absolute;
  left: 16px;
  top: 202px;
}

.currentvideo-title-inp:focus {
  outline: 1px solid #3eaffe;
}

.currentvideo-desc-inp:focus {
  outline: 1px solid #3eaffe;
}

.currentvideo-title-inp:focus + .title-sample-txt {
  color: #3eaffe;
}
.currentvideo-desc-inp:focus + .desc-sample-txt {
  color: #3eaffe;
}

.current-editvideo-data {
  display: flex;
  width: 100%;
}

.video-details-left {
  width: -webkit-fill-available;
}

.video-details-right {
  margin-left: 30px;
  margin-top: 25px;
}

.preview-data-details {
  position: relative;
  bottom: 5px;
  background-color: #1f1f1f;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-size: 15px;
}

.preview-part1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-videolink {
  cursor: pointer;
}

.video-linkleft > p:nth-child(1),
.preview-part2 > p:nth-child(1),
.preview-part3 > p:nth-child(1) {
  font-size: 13px;
  color: #aaaaaab0;
}

.video-linkleft > p:nth-child(2) {
  margin-top: 5px;
  color: #3eaffe;
}

.preview-part2 > p:nth-child(2) {
  margin-top: 5px;
}

.current-editvideodata {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-part2 {
  margin-top: 20px;
}

.preview-part3 {
  margin-top: 20px;
}

.copythis-btn:hover {
  cursor: pointer;
  color: white !important;
}

.currentvideo-thumbnailedit {
  margin-top: 25px;
  color: white;
}

.currentvideo-thumbnailedit > p:nth-child(2) {
  font-size: 13px;
  margin-top: 10px;
  color: #aaa;
}

.uploadnew-thumbnaill > p {
  font-size: 13px;
  color: #aaa;
  margin-top: 8px;
}

.uploadnew-thumbnaill {
  cursor: pointer;
  width: fit-content;
  border: 0.5px dashed #aaaaaa4b;
  padding: 24px;
  padding-left: 38px;
  padding-right: 38px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.currnt-tbimg,
.currnt-tbimg2 {
  cursor: pointer;
  margin-top: 24px;
  margin-left: 10px;
  width: 170px;
}

.currnt-tbimg:hover,
.currnt-tbimg2:hover {
  opacity: 1 !important;
}

.uploadnew-thumbnaill:hover {
  border: 0.5px dashed #aaaaaab2;
}
.mythumbnails-sectionn {
  display: flex;
  align-items: center;
}

.img-optionss {
  cursor: pointer;
  position: absolute;
  left: 141px;
  bottom: 58px;
  padding: 5px;
}

.extra-optn {
  color: white;
  background-color: rgba(0, 0, 0, 0.503);
  border-radius: 100%;
  padding: 5px;
}

.extra-img-options {
  position: absolute;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  bottom: -68px;
  left: 124px;
}

.change-thumbnail-img,
.download-thumbnail,
.undo-thumbnail {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
}

.change-thumbnail-img:active,
.download-thumbnail:active,
.undo-thumbnail:active {
  background-color: #151515;
}

.change-thumbnail-img > p,
.download-thumbnail > p,
.undo-thumbnail > p {
  margin-left: 22px;
  font-size: 15px;
}

.thissection-btns > button:nth-child(1) {
  background-color: #ffffff00;
  color: #3eaffe;
  border: none;
  outline: none;
  font-size: 15px;
  position: relative;
  right: 20px;
}

.thissection-btns > button:nth-child(2) {
  background-color: #3eaffe;
  color: #282828;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 11px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
}

.disabled-btn {
  cursor: not-allowed;
  color: #aaa !important;
  opacity: 0.6;
}

.disabled-btn2 {
  cursor: not-allowed;
  background-color: #aaa !important;
  opacity: 0.6;
}
