<link rel="shortcut icon" href="/images/icon.png" type="image/x-icon" />
<link rel="stylesheet" href="/css/reset.css" />

<title>Reset Password - YouTube</title>
<div class="body-data">
  <div class="reset-password">
  <div class="email-verified">
    <p>Email Verification for <u>{{email}}</u> is DONE</p>
    <img src="/images/done.png" alt="verified" class="done">
  </div>
  <p>Reset Password</p>
  <form action="/resetpassword" method="post">
    <p>Email:</p>
    <input type="email" name="email" value={{email}} readonly>
    <p>New Password:</p>
    <input type="password" name="new_password" placeholder="New password" required />
    <p>Confirm Password:</p>
    <input type="password" name="new_password1" placeholder="Confirm password" required />
    <button type="submit">Save</button>
  </form>
</div>
</div>