.account-pop {
  background-color: #282828;
  position: fixed;
  color: white;
  z-index: 20;
  right: 20px;
  top: 68px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 280px;
}

.channelIMG {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 100%;
}

.user-section {
  cursor: pointer;
  display: flex;
  padding-left: 35px;
}

.right-part {
  margin-left: 15px;
  line-height: 25px;
}

.c-sec {
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 45px;
  padding-left: 35px;
  transition: all 0.15s ease;
}

.c-sec:hover {
  background-color: #3e3e3e;
}

.c-sec > p {
  margin-left: 15px;
}

.open {
  margin-left: 35px;
}

.appearance-title {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.appearance-title > p {
  margin-left: 25px;
}

.caution {
  font-size: 13px;
  color: gray;
  text-align: center;
}

.theme-list {
  line-height: 45px;
  margin-top: 15px;
}

.dark-theme,
.light-theme {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 25px;
  transition: all 0.15s ease;
}

.dark-theme:hover,
.light-theme:hover {
  background-color: #3e3e3e;
}

.dark-theme > p,
.light-theme > p {
  margin-left: 35px;
}

.dark-arrow,
.light-arrow {
  color: white;
}

.back-arrow {
  cursor: pointer;
  transition: all 0.15s ease;
  padding: 7px;
  border-radius: 100%;
}

.back-arrow:hover {
  background-color: #3e3e3e;
}
