.channel_profile {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 100%;
}

.channel-main-content {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  /* margin-top: 155px; */
}

.channel-name-verified {
  display: flex;
  align-items: center;
}

.channel-top-content {
  position: relative;
  top: 90px;
  color: white;
  display: flex;
  align-items: center;
}

.channel-left-content {
  display: flex;
  align-items: center;
}

.channelname {
  font-size: 24px;
}

.myvideo-title {
  font-size: 18px;
}

.video-metadata {
  position: relative;
  right: 20px;
}

.channel-extra,
.more-about {
  color: #aaa;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 4px;
}

.more-about {
  cursor: pointer;
  margin-top: 15px;
}

.channel-extra > p {
  margin-right: 10px;
}

.channel-left {
  padding-left: 25px;
}

.channel-right-content {
  margin-left: 362px;
}

.customize-channel,
.manage-videos {
  background-color: #242424;
  color: white;
  border: none;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 35px;
  font-size: 15px;
  margin-right: 15px;
}

.channel-mid-content {
  position: relative;
  top: 120px;
}

.different-sections {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.different-sections > p {
  cursor: pointer;
  margin-right: 85px;
  font-size: 15px;
  color: #aaa;
  transition: all 0.1s ease;
}

.different-sections > p:hover {
  transform: scale(1);
  color: white;
}

.seperate-new {
  position: relative;
  top: 100px;
}

.seperate-new1 {
  position: relative;
  top: 240px;
}

.seperate-new2 {
  position: relative;
  top: 560px;
}

.myvideos-section {
  position: absolute;
  top: 310px;
  color: white;
}

.user-video {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.video-oneliner-data {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 6px;
  color: #aaa;
}

.myvideo-description {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 12px;
  color: #aaa;
}

.view-time2 {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.views-and-time {
  display: flex;
  color: #aaa;
  font-size: 13px;
  margin-top: 6px;
  align-items: center;
}

.video_published-date {
  margin-left: 6px;
}

.myvideos-thumbnail {
  width: 250px;
  border-radius: 10px;
}

.myuploaded-videos {
  color: white;

  position: absolute;
  top: 500px;
}

.mypopular-videos {
  color: white;
  position: absolute;
  top: 845px;
}

.section-headtxt,
.playall-videos {
  display: flex;
  align-items: center;
}

.playall-videos {
  cursor: pointer;
  margin-left: 15px;
  padding: 5px;
  padding-right: 10px;
  border-radius: 20px;
}

.playall-videos:hover {
  background-color: #303030;
}

.my-all-videos-list, .my-all-videos-list2 {
  margin-top: 25px;
}

.myvideos-thumbnail2 {
  width: 220px;
  border-radius: 7px;
}

.myvideo-duration {
  width: fit-content;
  position: relative;
  top: 110px;
  right: 43px;
  background-color: #000000c9;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
}

.myvideo-duration2 {
  width: fit-content;
  position: relative;
  bottom: 33px;
  left: 180px;
  background-color: #000000c9;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.video-metadata2 {
  width: 220px;
  position: relative;
  bottom: 15px;
}

.videos-metadataa {
  width: 300px;
  position: relative;
  bottom: 15px;
}

.my-all-videos-list, .my-all-videos-list2 {
  display: flex;
}

.uploadedvideo-alldata {
  cursor: pointer;
  margin-right: 10px;
}

.section-highlight {
  color: white;
}

.different-sections > p {
  position: relative;
}

.channel-home1::before,
.channel-videos1::before,
.channel-playlists1::before,
.channel-subscriptions1::before,
.channel-about1::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 50px;
  transform: scaleX(1);
  transition: all 0.2s linear;
}

.channel-home1,
.channel-videos1,
.channel-playlists1,
.channel-subscriptions1,
.channel-about1 {
  color: white !important;
}

.latest-video,
.Popular-video,
.Oldest-video {
  cursor: pointer;
  color: white;
  background-color: #242424;
  border: none;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 15px;
}

.active {
  background-color: white;
  color: #242424;
}

.allvideo-sectionn {
  position: relative;
  top: 100px;
}

.uploadedvideos-sectionall {
  position: absolute;
  top: 60px;
  color: white;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(315px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 18px;
}

.uploaded-video-contents {
  cursor: pointer;
  margin: 8px;
}

.myvidthumbnail {
  width: 300px;
  border-radius: 10px;
}

.duration-new {
  left: 255px;
  bottom: 36px;
  font-size: 14px;
}

.newspinner {
  position: absolute;
  left: 50%;
}

.subscribethis-channel {
  cursor: pointer;
  border-radius: 20px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: white;
  font-size: 15px;
  margin-left: 25px;
}

.subscribethis-channel2 {
  cursor: pointer;
  border-radius: 20px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: #272727;
  color: white;
  font-size: 15px;
  margin-left: 25px;
}

.channel-desc {
  max-width: 800px;
  font-size: 15px;
  margin-top: 30px;
}

.channel-about-section {
  color: #f1f1f1;
  position: absolute;
  top: 320px;
  display: flex;
}

.seperate-two {
  margin-top: 40px;
}

.channel-details,
.channel-links {
  margin-top: 30px;
}

.enquiries {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 25px;
}

.enquiries > p:nth-child(1) {
  color: #aaa;
}

.channel-email {
  margin-left: 15px;
  color: #3ea6ff;
}

.main-links {
  margin-top: 12px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.link-insta,
.link-fb,
.link-web,
.link-twitter {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.link-insta > a,
.link-fb > a,
.link-web > a,
.link-twitter > a {
  color: #3ea6ff;
  font-size: 14px;
  margin-left: 10px;
}

.right-about-section {
  margin-left: 60px;
  max-width: 230px;
  min-width: 180px;
}

.share-clicked2 {
  position: fixed;
  left: 50%;
  top: inherit;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.channel-playlist-section {
  position: absolute;
  top: 305px;
  color: white;
}

.no-playlists {
  position: absolute;
  /* top: 95px; */
  /* left: 450px; */
  width: -webkit-fill-available;
  color: white;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 350px;
}

.create-playlist {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 20px;
  transition: all 0.15s ease;
}

.create-playlist:hover {
  background-color: #242424;
}

.create-playlist:active {
  background-color: #242424;
  transform: scale(0.92);
}

.create-playlist > p {
  margin-left: 10px;
}

.featured-channel-btn > p {
  margin-left: 10px;
}

.featured-channels-sections {
  position: absolute;
  top: 300px;
}

.featured-channel-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #242424;
  border-radius: 20px;
  transition: all 0.15s ease;
}
.featured-channel-btn:active {
  background-color: #242424;
  transform: scale(0.92);
}

.add-feature-channel {
  position: absolute;
  padding: 25px;
  padding-left: 0;
  z-index: 15;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  margin-top: 10px;
}

.sub-channel-imgs {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.feature-channel-name {
  font-size: 15px;
}

.my-subscribed-channels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.subscribed-channels-all {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.1s ease;
  padding: 15px;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
}

.subscribed-channels-all:hover {
  background-color: #3a3a3a;
}

.locked {
  background-color: #3a3a3a;
}

.lasst-data {
  margin-top: 40px;
}

.save-channels {
  cursor: pointer;
  position: relative;
  float: right;
  color: white;
  outline: none;
  border: none;
  background-color: #242424;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 22px;
  transition: all 0.12s ease;
  font-size: 15px;
}

.save-channels:hover {
  background-color: #444444;
  color: white;
}

.save-channels:active {
  transform: scale(0.92);
}

.featured-channels-added {
  position: absolute;
  top: 360px;
}

.featured-channelss {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-right: 15px;
  transition: all 0.1s ease;
}

.featured-channelss:hover {
  background-color: #333333;
}

.featured-channelss-new:hover .featured-channel-img {
  opacity: 0.35;
}

.featured-channelss-new:hover .delete-feature-btn {
  opacity: 1;
}

.featured-channel-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  transition: all 0.15s ease;
}

.featured-channels-added {
  display: flex;
  align-items: center;
  color: white;
}

.delete-feature-btn {
  position: absolute;
  padding: 40px;
  opacity: 0;
  z-index: 5;
  transition: all 0.15s ease;
}

.created-all-playlistss {
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.15s ease;
}

.playlist-thumbnail {
  width: 230px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 6px;
  transition: all 0.15s ease;
  border-bottom-right-radius: 6px;
}

.playlist-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 26px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  backdrop-filter: blur(3px);
  font-size: 13px;
  padding-left: 10px;
  transition: all 0.15s ease;
  padding-right: 10px;
}

.thischannel-playlists {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(315px, 1fr)); */
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 18px;
}

.playlistt-details {
  position: relative;
  bottom: 15px;
  font-size: 15px;
}

.playlistt-details > p:nth-child(2) {
  margin-top: 15px;
  font-size: 13.5px;
  color: #aaa;
}

.playy-all-btn {
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  top: 95px;
  padding-left: 60px;
  transition: all 0.15s ease;
  opacity: 0;
}

.created-all-playlistss:hover .playlist-thumbnail {
  opacity: 0.2;
}

.created-all-playlistss:hover .playlist-element {
  opacity: 0.2;
}

.created-all-playlistss:hover .playy-all-btn {
  opacity: 1;
}

.created-all-playlistss:hover .playy-all-btn2 {
  opacity: 1;
}
