.channel_profile {
  width: 130px;
  border-radius: 100%;
}

.channel-main-content {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-top: 120px;
}

.channel-top-content {
  position: relative;
  top: 90px;
  color: white;
  display: flex;
  align-items: center;
}

.channel-left-content {
  display: flex;
  align-items: center;
}

.channelname {
  font-size: 24px;
}

.myvideo-title {
  font-size: 18px;
}

.video-metadata {
  position: relative;
  right: 20px;
}

.channel-extra,
.more-about {
  color: #aaa;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 4px;
}

.more-about {
  margin-top: 15px;
}

.channel-extra > p {
  margin-right: 10px;
}

.channel-left {
  padding-left: 25px;
}

.channel-right-content {
  margin-left: 250px;
}

.customize-channel,
.manage-videos {
  background-color: #242424;
  color: white;
  border: none;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 35px;
  font-size: 15px;
  margin-right: 15px;
}

.channel-mid-content {
  position: relative;
  top: 120px;
}

.different-sections {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.different-sections > p {
  cursor: pointer;
  margin-right: 85px;
  font-size: 15px;
  color: #aaa;
  transition: all 0.1s ease;
}

.different-sections > p:hover {
  transform: scale(1);
  color: white;
}

.seperate-new {
  position: relative;
  top: 100px;
}

.seperate-new1 {
  position: relative;
  top: 240px;
}

.myvideos-section {
  position: absolute;
  top: 310px;
  color: white;
}

.user-video {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.video-oneliner-data {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 6px;
  color: #aaa;
}

.myvideo-description {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 12px;
  color: #aaa;
}

.view-time2 {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.views-and-time {
  display: flex;
  color: #aaa;
  font-size: 13px;
  margin-top: 6px;
  align-items: center;
}

.video_published-date {
  margin-left: 6px;
}

.myvideos-thumbnail {
  width: 250px;
  border-radius: 10px;
}

.myuploaded-videos {
  color: white;

  position: absolute;
  top: 500px;
}

.section-headtxt,
.playall-videos {
  display: flex;
  align-items: center;
}

.playall-videos {
  margin-left: 15px;
}

.my-all-videos-list {
  margin-top: 25px;
}

.myvideos-thumbnail2 {
  width: 220px;
  border-radius: 7px;
}

.myvideo-duration {
  width: fit-content;
  position: relative;
  top: 110px;
  right: 43px;
  background-color: #000000c9;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
}

.myvideo-duration2 {
  width: fit-content;
  position: relative;
  bottom: 33px;
  left: 180px;
  background-color: #000000c9;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.video-metadata2 {
  width: 220px;
  position: relative;
  bottom: 15px;
}

.videos-metadataa {
  width: 300px;
  position: relative;
  bottom: 15px;
}

.my-all-videos-list {
  display: flex;
}

.uploadedvideo-alldata {
  cursor: pointer;
  margin-right: 10px;
}

.section-highlight {
  color: white;
}

.different-sections > p {
  position: relative;
}

.channel-home1::before,
.channel-videos1::before,
.channel-playlists1::before,
.channel-subscriptions1::before,
.channel-about1::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 50px;
  transform: scaleX(1);
  transition: all 0.2s linear;
}

.channel-home1,
.channel-videos1,
.channel-playlists1,
.channel-subscriptions1,
.channel-about1 {
  color: white !important;
}

.latest-video,
.Popular-video,
.Oldest-video {
  color: white;
  background-color: #242424;
  border: none;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 15px;
}

.allvideo-sectionn {
  position: relative;
  top: 100px;
}

.uploadedvideos-sectionall {
  position: absolute;
  top: 60px;
  color: white;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(315px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 18px;
}

.uploaded-video-contents {
  cursor: pointer;
  margin: 8px;
}

.myvidthumbnail {
  width: 300px;
  border-radius: 10px;
}

.duration-new {
  left: 255px;
  bottom: 36px;
  font-size: 14px;
}
