@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body {
  background-color: #0f0f0f;
}

.like-video-sections {
  position: relative;
  top: 70px;
  display: flex;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  width: fit-content;
}

.liked-video-data {
  background-color: #0f0f0f;
  height: 100vh;
}

.like-left-section {
  position: fixed;
  background-size: cover;
  border-radius: 15px;
}

.like-left-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  border-radius: 15px;

  z-index: 1;
}

.page-cover {
  position: relative;
  z-index: 2;
  height: 750px;
}

.page-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 810px;
  border-radius: 15px;
  backdrop-filter: blur(18px);
  z-index: -1;
}

.firstvideo-thumbnail {
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.first-thumbnail {
  cursor: pointer;
  border-radius: 10px;
  width: 310px;
  transition: all 0.25s ease;
  position: relative;
}

.sample-play {
  opacity: 0;
  position: absolute;
  top: 110px;
  transition: all 0.25s ease;
  left: 135px;
}

.first-thumbnail:hover {
  filter: brightness(0.35);
}

.first-thumbnail:hover ~ .sample-play {
  opacity: 1;
}


.like-right-section {
  position: relative;
  left: 400px;
}

.liked-all-videos {
  display: flex;
  align-items: center;
  padding: 10px;
}

.liked-all-videos:hover {
  cursor: pointer;
  background-color: #272727;
  border-radius: 10px;
}

.liked-videos-all-data {
  display: flex;
}

.liked-videos-all-data > img {
  border-radius: 8px;
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}

.its-content > p:nth-child(2) {
  font-size: 14px;
  color: rgb(130, 130, 130);
  margin-top: 10px;
}

.like-head {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
}

.like-username {
  cursor: pointer;
  font-size: 15px;
}
.playvideo-btn {
  background-color: white;
  color: black;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  transition: all 0.15s ease;
}

.playvideo-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.758);
}

.last-like-section {
  padding-left: 30px;
}

.last-like2 {
  margin-top: 15px;
}

.last-like2 > p:nth-child(2) {
  font-size: 14px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.654);
}
