@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.navbar {
  padding: 10px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0f0f;
  position: fixed;
  z-index: 2;
  width: -webkit-fill-available;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.left-bar,
.middle-bar,
.search,
.right-bar {
  display: flex;
  align-items: center;
}

.youtubeLogo {
  width: 110px;
  cursor: pointer;
  padding-left: 30px;
  object-fit: cover;
}

.search {
  background-color: #0f0f0f;
  border-radius: 25px;
  min-width: 580px;
  max-width: 800px;
  border: 0.5px solid rgba(255, 255, 255, 0.351);
}

.search-icon {
  cursor: pointer;
  padding-right: 10px;
  background-color: #3d3f4365;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

#searchType {
  cursor: pointer;
  background-color: #0f0f0f;
  color: white;
  border-radius: 25px;
  border: none;
  outline: none;
  min-width: 520px;
  max-width: 750px;
  font-size: 16px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#searchType::-webkit-input-placeholder {
  color: gray;
}

.right-bar {
  width: 230px;
  padding-right: 25px;
  justify-content: space-between;
}

.signin {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #0f0f0f;
  border: 1px solid rgb(0, 162, 255);
  color: rgb(0, 162, 255);
  margin-left: 10px;
  padding: 8px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 25px;
  transition: all 0.15s ease;
}
.signin > p {
  padding-left: 7px;
  padding-right: 3px;
}

.signin:hover {
  background-color: #3d3f43;
}

.icon-btns {
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
}

.icon-btns:hover {
  color: white !important;
  background-color: #3d3f4365;
}
.auth-popup {
  position: fixed;
  z-index: 10;
  color: white;
  background-color: #1e1f20;
  padding: 100px;
  padding-top: 85px;
  padding-bottom: 85px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  max-width: 500px;
  animation: fadeUp 0.25s ease forwards;
  opacity: 0;
}
@keyframes fadeUp {
  from {
    transform: translate(-50%, -50%) translateY(50px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.bg-css::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; /* Set a lower z-index than the auth-popup */
  animation: Fade 0.25s ease-out forwards;
}

@keyframes Fade {
  from {
  }
  to {
    background: rgba(0, 0, 0, 0.787);
  }
}

.above-data {
  text-align: center;
}

.signup-head {
  font-size: 35px;
  font-family: "Geologica", sans-serif;
}
.signup-desc {
  margin-top: 15px;
  font-weight: lighter;
  color: gray;
}

.signup-form,
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

form > input {
  background-color: #3d3f4359;
  outline: none;
  height: 35px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: 5px;
}

form > input::placeholder {
  color: rgba(255, 255, 255, 0.59);
}

.cancel {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px;
  transition: all 0.15s ease;
}

.cancel:hover {
  color: white !important;
  background-color: rgba(128, 128, 128, 0.306);
  border-radius: 50%;
}

.signup-btn {
  cursor: pointer;
  background-color: #c00;
  color: white;
  border: none;
  font-family: "Geologica", sans-serif;
  font-size: 18px;
  outline: none;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.signup-btn:hover {
  transform: scale(1.04);
}

.signup-btn:active {
  transform: scale(0.95);
}

.already {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.already > p:nth-child(1) {
  color: gray;
}

.already > p:nth-child(2) {
  cursor: pointer;
  margin-left: 5px;
}

.profile-pic {
  cursor: pointer;
  width: 42px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.create-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.462);
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.2s ease;
}

.create-btn:hover {
  background-color: #242424;
}

.create-btn > p {
  color: white;
  padding-left: 10px;
  font-size: 15px;
}
