.channel-img {
  cursor: pointer;
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 100%;
}

.searched-content {
  position: absolute;
  /* top: 95px; */
  /* left: 450px; */
  color: white;
  transform: none !important;
  left: 17%;
  top: 100px !important;
  width: 77vw !important;
  animation: FADEINN 0.45s ease;
}

.search-channel {
  display: flex;
  align-items: center;
}

.channel-liner {
  display: flex;
  align-items: center;
}

.channel-extra-content {
  cursor: pointer;
  position: relative;
  left: 60px;
  width: 62%;
}

.new-title {
  font-size: 20px;
}

.subscribe-btnss {
  position: absolute;
  right: 10px;
}

.new-subs {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #aaa;
}

.new-email {
  margin-top: 10px;
  font-size: 14px;
  color: #aaa;
}

.new-desc {
  margin-top: 6px;
  font-size: 14px;
  color: #aaa;
}

.sep2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.thischannel-videos-section {
  position: absolute;
  margin-top: 10px;
}

.thischannel-thumbnail {
  width: 350px;
  border-radius: 8px;
}

.thisvideo-duration {
  width: fit-content;
  position: relative;
  top: 165px;
  right: 42px;
  background-color: #000000ba;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
}
.thischannelDP {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
}
.thischannel-all-data {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
}

.thischannel-video-data {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 20px;
}

.thisvideo-onliner,
.thisvideo-channel,
.thisvideo-desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #aaa;
  margin-top: 6px;
}

.thisvideo-channel {
  margin-top: 12px;
}

.thisvideo-desc {
  margin-top: 15px;
}

.thisvideo-channel > p {
  margin-left: 8px;
}

.thisvideo-onliner > p:nth-child(2) {
  margin-left: 5px;
}

.subscribethis-channel,
.subscribethis-channel2 {
  transition: all 0.15s ease;
}

.subscribethis-channel:active,
.subscribethis-channel2:active {
  transform: scale(0.92);
}

.searched-videos-section {
  position: absolute;
}

.searched-video-alldata {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.nothing-found {
  width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 180px;
}

.no-results {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 320px;
  font-size: 20px;
}

/* MEDIA QUERIES */
