.videoframe {
  width: inherit;
}

/* PLAYER CONTROLS */

.plyr--red,
.plyr__control--overlaid {
  background: red !important;
}

.plyr--full-ui input[type="range"] {
  color: red !important;
}

.plyr--video .plyr__control:focus-visible,
.plyr--video,
.plyr--video .plyr__control[aria-expanded="true"] {
  background: none !important;
}

.plyr {
  width: inherit;
  height: 720px;
}

.plyr__control:hover {
  background: none !important;
  color: #4a5464 !important;
}

.main-video-section {
  background-color: #0f0f0f;
  height: auto;
  display: flex;
}

.main-video-section2 {
  background-color: #0f0f0f;
  height: 150vh;
}

.left-video-section2 {
  padding-top: 90px;
  padding-left: 100px;
}

.spin2 {
  position: absolute;
  left: 50%;
  top: 30%;
}

.vid-title {
  margin-top: 25px;
  color: white;
  font-size: 22px;
}

.channelDP {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 100%;
}

.channel-left-data {
  color: white;
  display: flex;
  margin-top: 15px;
}

.channel-data2 {
  margin-left: 17px;
}

.creator {
  display: flex;
  align-items: center;
}

.channel-subs {
  font-size: 14px;
  color: #7d94aa;
  margin-top: 5px;
}

.subscribe {
  cursor: pointer;
  border-radius: 20px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  background-color: white;
  font-size: 15px;
  margin-left: 25px;
}
.vl {
  border-left: 1px solid rgba(128, 128, 128, 0.506);
  height: 30px;
  background-color: #272727;
  padding-top: 5px;
  padding-bottom: 5px;
}

.channel-right-data {
  display: flex;
  margin-top: 15px;
}

.like-dislike {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: white;
  border-radius: 25px;
  font-size: 14px;
  justify-content: space-between;
}

.like-data,
.dislike-data {
  display: flex;
  align-items: center;
  background-color: #272727;
  padding: 8px;
  transition: all 0.15s ease;
}

.like-data {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 15px;
  padding-right: 20px;
}

.dislike-data {
  border-top-right-radius: 25px;
  padding-right: 15px;
  padding-right: 20px;
  border-bottom-right-radius: 25px;
}

.like-data > p {
  margin-left: 10px;
}

.some-channel-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}

.share {
  color: white;
  cursor: pointer;
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: space-around;
  background-color: #272727;
  padding: 8px;
  border-radius: 25px;
  margin-left: 20px;
  transition: all 0.15s ease;
}

.download-btn {
  color: white;
  cursor: pointer;
  display: flex;
  width: 115px;
  align-items: center;
  justify-content: space-around;
  background-color: #272727;
  padding: 8px;
  border-radius: 25px;
  margin-left: 20px;
  transition: all 0.15s ease;
}

.save-later {
  color: white;
  cursor: pointer;
  display: flex;
  width: 75px;
  align-items: center;
  justify-content: space-around;
  background-color: #272727;
  padding: 8px;
  border-radius: 25px;
  margin-left: 20px;
  transition: all 0.15s ease;
}

.like-data:hover,
.dislike-data:hover,
.save-later:hover,
.download-btn:hover,
.share:hover {
  background-color: #3f3f3f;
}

.views-date {
  display: flex;
  align-items: center;
}

.description-section2 {
  margin-top: 20px;
  background-color: #272727;
  color: white;
  width: 98%;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
}

.desc-data {
  text-align: justify;
}

.left-video-section2 {
  width: 1280px;
}

.comments-section {
  margin-top: 25px;
}

.total-comments {
  color: white;
  display: flex;
  align-items: center;
}

.sorting {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.my-comment-area {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.comment-input {
  color: white;
  font-size: 16px;
  width: -webkit-fill-available;
  background-color: rgba(245, 222, 179, 0);
  margin-left: 20px;
  outline: none;
  border: none;
  padding: 5px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.506);
}

.comment-input::placeholder {
  font-size: 16px;
}

/* RECOMMEND SECTION  */

.recommended-section {
  color: white;
  position: relative;
  top: 100px;
  left: 25px;
}

.video-section2 {
  margin-top: 20px;
}

.video-data12 {
  display: flex;
  cursor: pointer;
}

.recommend-thumbnails {
  width: 190px;
  border-radius: 8px;
}

.tag-one,
.tag-two {
  margin-left: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.recommend-tags {
  display: flex;
  align-items: center;
}

.video-right-side {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  width: 280px;
}

.duration2 {
  left: 150px;
  bottom: 32px;
  padding: 3px;
}

.recommend-uploader {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.upload-comment {
  cursor: pointer;
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: white;
  font-size: 15px;
  margin-left: 25px;
}

.delete-comment-btn {
  cursor: pointer;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  background-color: white;
  font-size: 14px;
  margin-left: 25px;
}

.cancel-comment {
  background-color: #0f0f0f00;
  color: white;
  border: none;
}
.comment-btns {
  position: relative;
  float: right;
  margin-top: 15px;
}

.commentDP {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 100%;
}

.video-comments {
  margin-top: 30px;
  font-size: 14px;
}

.comment-data {
  color: white;
  display: flex;
  margin-bottom: 45px;
}
.comment-right-data {
  margin-left: 20px;
}
.comment-row1 {
  display: flex;
  align-items: center;
}
.comment-time {
  margin-left: 8px;
  color: gray;
}

.main-comment {
  margin-top: 6px;
}

.comment-interaction {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.like-data,
.dislike-data,
.share,
.download-btn,
.save-later {
  transition: all 0.25s ease;
}

.like-data:active,
.dislike-data:active,
.share:active,
.download-btn:active,
.save-later:active {
  transform: scale(0.8);
}
